# ======================
# Explicitly exclude
# ======================

*.jpg
*.png
*.gif
*.bmp
*.tiff

# ======================
# Explicitly include
# ======================

!config.php

!btbsandbox.sql
